# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
espnet.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
htmlcov
coverage.xml*
bats-core/
shellcheck*
check_shellcheck*
test_spm.vocab
test_spm.model
.vscode*
*.vim
*.swp
*.nfs*
include/

# recipe related
egs*/*/*/data*
egs*/*/*/db
egs*/*/*/downloads
egs*/*/*/delete
egs*/*/*/dump
egs*/*/*/enhan
egs*/*/*/exp
egs*/*/*/fbank
egs*/*/*/mfcc
egs*/*/*/stft
egs*/*/*/tensorboard
egs*/*/*/wav*
egs*/*/*/nltk*
egs*/*/*/.cache*
egs*/*/*/pretrained_models*
egs*/fisher_callhome_spanish/*/local/mapping*
egs2/aishell_noise/*/exp
egs2/aishell_noise/*/log
egs2/aishell_noise/*/dump
egs2/aishell_noise/*/data
egs2/aishell_noise/*/*.o*
egs2/aishell_noise/*/*.log
espnet2/enh/delete/
egs2/iFLYTEK_multilingual/
egs2/aishell_noise/enh_asr2/decode/
egs2/aishell_noise/enh_asr2/log/
egs2/aishell_noise/enh_asr2/delete/
egs2/magic/
egs2/chime4/


# tools related
tools/kenlm/
tools/chainer
tools/bin
tools/include
tools/lib
tools/lib64
tools/bats-core
tools/chainer_ctc/
tools/kaldi*
tools/activate_python.sh
tools/miniconda.sh
tools/moses/
tools/mwerSegmenter/
tools/nkf/
tools/venv/
tools/anaconda/
tools/installers/sctk-2.4.10-20151007-1312Z.tar.bz2
tools/sentencepiece/
tools/swig/
tools/warp-ctc/
tools/warp-transducer/
tools/*.done
tools/PESQ*
tools/hts_engine_API*
tools/open_jtalk*
tools/pyopenjtalk*
tools/tdmelodic_openjtalk*
tools/s3prl
tools/sctk*
tools/sph2pipe*
tools/espeak-ng*
tools/MBROLA*
tools/festival*
tools/speech_tools*
tools/phonemizer*
tools/py3mmseg
tools/._*
